*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

body{
  background-image: url("https://i.pinimg.com/564x/19/8f/42/198f427f54234e4ce1bbd33a56deb62d.jpg");
}

div.web-container{
  
  display: grid;
grid-template-areas:
  ' header header header header header header'
  ' nav nav nav nav nav nav'
  ' main main main main main main'
  ' footer footer footer footer footer footer';


}

header{
  grid-area: header;
  background-color: red;
}

nav{
  grid-area: nav;
  background-color: blue;
}

main{
  grid-area: main;
  
}

footer{
  grid-area: footer;
  background-color: blueviolet;
}