*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
  background-color: #181717;
  color: rgba(233, 233, 233, 0.863);
}

div.logo img{
    width: 50%;
    height: 80px;
}

div.logo h2{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

div.search input.search-input{
  background-color: #fff;
    border-radius: 22px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

div.search input.search-btn{
 display: none;
}

form {
  display: block;
  margin-top: 0em;
}

div.info{
  width: 100%;
  height: 100%;
  max-width: 900px;
 
}

div.info  div.info-item img{
  width: 100%;
  height: 460px;
  max-height: 460px;
}

@media screen and (max-width : 680px) {
  div.info{
    width: 100%;
    height: 50%;
    max-width: 500px;
   
  }
  
  div.info  div.info-item img{
    width: 100%;
    height: 460px;
    max-height: 460px;
  }
}